<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body>

    <div class="container" style="margin-top: 5%; margin-bottom: 5%;">

        <% if(expiration){ %>

            <div class="alert alert-danger">Ce lien est expirée.</div>

        <% } else { %>

            <img class="mx-auto d-block" src="<%= qrcode %>">
            <form method="post" action="/validation-signature">
                <center>
                    <input type="hidden" name="infosSignature" value="<%= validationInfos %>"/>
                    <input type="hidden" name="signatureEleve" value="<%= signatureEleve %>" />
                    <button class="btn btn-dark" type="submit">Je signe</button>
                </center>
            </form>
            

        <% } %>
        
 
    </div>

</body>

</html>